.bgc{

	background-color: black;
	min-height: 50px;
	margin-top:10px;
    
}

.bgc_r{


	background-color: red;
	min-height: 50px;
	margin-top:10px;
	
}

.bgc_b{


	background-color: blue;
	min-height: 50px;
	margin-top:10px;
	
}

.bgc_a{


	background-color: aqua;
	min-height: 50px;
	margin-top:10px;
	
}

.bgc_br{


	background-color: brown;
	min-height: 50px;
	margin-top:10px;
	
}

.bgc_g{


	background-color: green;
	min-height: 50px;
	margin-top:10px;
	
}

.bgc_y{


	background-color: yellow;
	min-height: 50px;
	margin-top:10px;
	
}





